/*------------Geral------------*/
*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:hsl(170, 100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);

    --brand-beige: hsl(180, 14%, 97%);
    --brand-ligth: hsl(148, 23%, 89%);

    font-size: 62.5%;/*Regra de 3 (10*100%)/16=62,5% para transformar 16px em 10px 1rem=10px (acessibilidade)*/
    
    --nav-heigth: 7.2rem;

}
html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
}

.wrapper{
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

/*------------HEADER------------*/
header{

    margin-top: calc(4rem + var(--nav-heigth));
       
}

header::before{
    content: "";
    width: 100vw;
    height: calc(108rem + var(--nav-heigth));
    background-color: var(--brand-ligth);
    display: block;

    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}

header h4{
    font-size: 1.4rem;
    color:var(--primary-color);
    margin-bottom:1.6rem;
}

header h1{
    font-size: 3.4rem;
    color: var(--headline);
    Line-height: 130%;

    margin-bottom: 2.4rem;
}
header p{
    font-size: 1.8rem;
    color:var(--paragraph);
    margin-bottom: 3.2rem;
}

button{
    background:var(--primary-color);

    border: none;
    border-radius: 4rem;

    margin-bottom: 6rem;

    height: 6.2rem;
    width: 26.3rem;
    
    color:white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-inline: auto;
}
header img{
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}

.report{
    background-color:var(--brand-beige);
    border: 1px solid var(--brand-ligth);
    border-radius: 0.6rem;
    
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;

    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;

}

.stat h3{
    font-size: 4.8rem;
    color:var(--headline);
    line-height: 130%;

    margin-bottom: 0.4rem;

}

.stat p{
    margin: 0;
    color:var(--primary-color);
    font-size: 1.6rem;
    line-height: 150%;
}

/*------------NAVIGATION------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--nav-heigth);

    padding: 1.6rem 2.4rem;

    position: fixed;
    top:0;
    left:50%;
    transform: translateX(-50%);
}
